$base-color-1: #F2994A;
$base-color-2: #E0812C;
$base-color-font-1: #333333;
$base-color-font-2: #828282;
$base-color-background: #E5E5E5;
$base-color-label: #E0E0E0;
$base-color-border: #949494;
$base-color-border-2: #9E9E9E;
$base-color-border-3: #BDBDBD;
$base-color-placeholder: #4F4F4F;
$base-color-disabled-light: #DDDDDD;
$base-color-disabled-dark: #989898;

$gradient-1: linear-gradient(0deg, #EF9F2E, #EF9F2E),
linear-gradient(135deg, #EF9F2E 25%, #E02B4B 105.56%);


$color-white: #ffffff;
$color-black: #000000;
$color-orange-light: #FFF3E0;
$color-blue: #2F80ED;
$color-pink: #D60F86;

$color-status-sucess: #27AE60;
$color-status-error: #EB5757;
$color-status-warning: #F2C94C;